*{
    font-family: 'Geologica', sans-serif;
}

body {
    margin: 0 auto;
    max-width: 1300px !important;
}

.root-container {
    display: grid;
    grid-template-columns: 5fr 3fr;
}


/* Embed Video */

#embedplayer {
    /* margin-left: 30px; */
    margin-top: 15px;
}
.videostats  {
    display: flex;
    flex-direction: column;
    /* margin-left: 30px; */
}


.video-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    color: black;
}

#title {
    margin: 5px 0px;
    color: black;
}

.stats {
    display: flex;
    align-items: center;
    gap: 50px;
}
.like-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
}
.like {
    display: flex;
    gap: 5px;
    align-items: center;

}


/* Comments Rendering */

.comments-container{
    display: flex;
    align-items: center;
    gap: 5px;
    max-height: 100vh;
    overflow-y: scroll;
}

.owner-details{
    display: flex;
    flex-direction: column;
}

.profile{
    display: flex;
    gap: 20px;
}
.profile > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comment {
    display: flex;
    gap: 20px;
    padding: 8px 20px;
    font-size: 13px;
    font-family: sans-serif;
}
.comment > img, .comment-reply > img {
    width: 40px;
    height: 40px; 
    border-radius: 50%;
}
.comment-right-half{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.comment span {
    font-size: 14px !important;
    color: gray
}
.comment p {
    font-size: 14px;
    width: 100%;
    margin: 0px;
}
.options {
    display: flex; gap: 20px;
    cursor: pointer;
}
.reply{
    background-color: transparent;
    border: none ;
    cursor: pointer;
}

.comment-reply{
    padding-left: 10px;
}


